{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <div class="page-header">
        <h1 class="page-title">Extra Informatie</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{ asset('assets/img/company-building.jpg') }}" alt="">
                        </div>
                        <div class="col-md-4">
                            Lorem ipsum dolor sit amet. Morbi id elementum lorem, ut tincidunt lorem. Nunc lacinia enim
                            non pharetra iaculis. Nulla facilisi. Nunc in ex maximus, mattis quam vitae, blandit nulla.
                            Aliquam gravida, augue eget fermentum interdum, sapien est sodales purus, ut consequat mi
                            nisl ac lacus. Nulla cursus egestas molestie. Cras molestie libero id ornare placerat. Fusce
                            et ornare nunc. Integer efficitur, nulla eu venenatis finibus, ante eros sagittis arcu,
                            vitae volutpat erat erat vitae nulla. Nam mollis mi vel tortor gravida, nec egestas enim
                            tristique.
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-12">
                                    <a href="phone:0612345678"><i class="fa fa-phone"></i> 0612345678</a>
                                </div>
                                <div class="col-12">
                                    <a href="mailto:info@ssdl.nl"><i class="fa fa-envelope"></i> info@ssdl.nl</a>
                                </div>
                                <div class="col-12">
                                    <a href="#"><i class="fa fa-building"></i> Molenweg34, Emmeloord, Flevoland</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
