<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Oops{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/tabler.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="/assets/js/vendors/jquery.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.min.js"></script>
    <script src="/assets/js/tabler.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.26.9/sweetalert2.all.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/style.css"/>
    {% block stylesheets %}{% endblock %}
</head>
<body class>
<div class="page">
    <div class="page-content">
        <div class="container text-center">
            <div class="display-1 text-muted mb-5">
                403
            </div>
            <h1 class="h2 mb-3">
                Oops... U hebt geen toegang deze pagina te bezoeken..
            </h1>
            <p class="h-4 text-muted font-weight-normal mb-7">Het spijt ons, maar deze pagian mag u niet bezoeken.</p>
            <a href="javascript:history.back()" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Ga terug</a>
        </div>
    </div>
</div>
</body>
</html>
